

div.circle {
	margin: 24px;
	width: 200px;
	height: 200px;
}

div.outer-circle {
	background:transparent;
	width:220px;
	height:122px;
	-webkit-border-radius: 50px;
	-moz-border-radius:80px;
	border-radius: 100px;
	border:1px solid #aaaaaa;
	position:absolute;
	z-index:800;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

div.outer-circle.hover {
    -moz-transform: scale(1.45);
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
}

div.middle-circle {
 
    /* This margin is used to create
    the 1px border between the middle
    and outer circle */
 
    margin:1px;
 
    /* Set the width and height */
 
    width:220px;
    height:122px;
 
    /* Set the border radius to half
    the width and height to make it
    look like a circle */
 
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 70px;
 
    /* Set the background gradient */
 
    background: #ececec; /* Old browsers */
    background: -moz-linear-gradient(top, #ececec 0%, #d8d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ececec 0%,#d8d8d8 100%); /* W3C */
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:900;
 
    /* Finally, we set the transition so
    that the circle grows with an
    animation */
 
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 
}
        
div.middle-circle.hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

div.inner-circle {
 
    /* This margin is used to position
    the circle in the center */
 
    margin:22px;
 
    /* Specify the background and
    width and height */
 
    background:#FFF000;
    width:174px;
    height:80px;
 
    /* Since we have text in it,
    we need to specify the text
    styles we want to use */
 
    font-size:11px;
    color:#FFF;
    line-height:96px;
    text-align:center;
    font-family:Arial;
 
    /* Set the border radius to half
    the width and height to make it
    look like a circle */
 
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
 
    /* For this circle, we will be using
    an inset box shadow to replicate
    the effect used. */
 
    -webkit-box-shadow: inset 0px 1px 1px 0px #575757;
    -moz-box-shadow: inset 0px 1px 1px 0px #575757;
    box-shadow: inset 0px 1px 1px 0px #575757;
 
    /* We can also add a bottom border
    to make it look slightly more 3D */
 
    border-bottom:1px solid #FFF;
 
    /* You will need to use
    position:absolute so that
    the circles can appear on top of
    each other.
 
    Additionally, the z-index will
    be used to determine which DIV
    should appear lowest or highest */
 
    position:absolute;
    z-index:1000;
 
}
