   <ul class ="plants">
	<% if @plants.count < 4 then %> "Not enough"  
	<% end %>
    <% @plants.each do |plant| %>                           
	  <li> 
	     <%= plant.name %>  
	     </br> 

	  </li>        
	<% end %>  
  </ul>   
  <br>
  <div style="position: relative; left: 0; top: 0;">
	<div id="container" class="ui-widget-content">  

		<%= image_tag("dirt.jpg", :id => "resizable", :class => "droppable")%>
		<% @plants.each do |plant| 3.times do %>   
		<%= image_tag(plant.image_path, :class => "draggable")%>    
		<% end %> 
		<% end %>
	</div>  
   </div>

